@main("LanguageBuddy") {
	<script>
		jQuery(function ($) {
			$('[rel=tooltip]').tooltip({delay: { show: 500, hide: 300 }} );
		})
	</script>
	
    <div style="margin: 0 auto !important;">
		<span style="display: block; text-align: center; margin-bottom: 30px; margin-top: 25px; font-weight: 600; font-size: 25px; font-family: 'Roboto Slab', serif;">
			Welcome to <span style="color: #8600b3; font-weight:800; font-size:24px">Language</span><i style="color: #8600b3; font-weight:600">Buddy</i> administrative interface!</span>

		<a href="overviewPage" class="noLinkColor" style="margin-top:5%">
			<div class="navBox" rel="tooltip">
				<b>Create experiment</b>
			</div>
		</a>
		<a href="manage" class="noLinkColor">
			<div class="navBox" rel="tooltip">
				<b>Manage existing experiments</b>
			</div>
		</a>
		<a href="settings" class="noLinkColor">
			<div class="navBox" rel="tooltip">
				<b>Settings</b>
			</div>
		</a>
	</div>
}
